<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Github Friends</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>

<body>
  <div class="container" id="container">
    <nav>
      <h1 class="text-center mt-4" id="title-wrapper">
        <span id="title-preHeader">
          <i class="fab fa-github"></i>ithub Friends
        </span>
      </h1>
      <div class="row text-center">
        <div class="col ml-3">
          <button id="api">API</button>
        </div>
        <div class="col mr-3">
          <button id="local">LOCAL</button>
        </div>
      </div>
      <form id="form" autocomplete="off">
        <div class="form-group pt-2">
          <input type="text" id="username" placeholder="Search username" class="form-searchbar form-control">
        </div>
        <div class="form-group">
          <button class="form-search-btn btn btn-danger btn-block" id="search-btn">Search</button>
        </div>
      </form>
    </nav>
    <div id="result">

    </div>
  </div>
  </div>
</body>

</html>